<app-header></app-header>


<ion-content class="ion-padding">
  <!-- Loading Spinner -->
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

  <!-- Table Card -->
  <div *ngIf="!loading && users.length > 0" class="table-card-special">
    <table class="data-table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Nama</th>
          <th>Role</th>
          <th>Dicipta Pada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.email }}</td>
          <td>{{ user.name || '-' }}</td>
          <td>
            <ion-select [value]="user.role" (ionChange)="updateRole(user, $event.detail.value)">
              <ion-select-option value="user">User</ion-select-option>
              <ion-select-option value="admin">Admin</ion-select-option>
              <ion-select-option value="proadmin">Super Admin</ion-select-option>
            </ion-select>
          </td>
          <td>{{ user.created_at | date:'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- No Data Message -->
  <div *ngIf="!loading && users.length === 0" class="no-data">
    Tiada pengguna ditemui.
  </div>
</ion-content>
