<ion-content fullscreen class="login-page animate-fade" scroll-y="false">
  <div class="background">
    <div class="center-container">
      <ion-card class="upload-card">
        <ion-card-header>
          <ion-card-title class="page-title">Login</ion-card-title>
          <ion-card-subtitle>Sign in to your account</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <!-- Email -->
            <div class="form-group">
              <label class="outside-label">Email</label>
              <ion-item fill="outline" class="input-item">
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                <ion-text color="danger">Invalid email</ion-text>
              }
            </div>

            <!-- Password -->
            <div class="form-group">
              <label class="outside-label">Password</label>
              <ion-item fill="outline" class="input-item">
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                <ion-text color="danger">Password is required</ion-text>
              }
            </div>

            <!-- Login Button -->
            <ion-button expand="full" type="submit" [disabled]="loginForm.invalid || loading">
              @if (loading) {
                <ion-spinner name="crescent"></ion-spinner>
              }
              @if (!loading) {
                <span>Login</span>
              }
            </ion-button>

            <!-- Forgot Password -->
            <ion-button class="resetbutton" expand="full" fill="outline"  (click)="onResetPassword()">
              Forgot Password
            </ion-button>

          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
