<ion-content fullscreen class="animate-fade">
  <div class="background">
    <div class="center-container">
      <ion-card class="upload-card">
        <ion-card-header>
          <ion-card-title class="page-title">Login</ion-card-title>
          <ion-card-subtitle>Masuk ke akun anda</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <!-- Email -->
            <div class="form-group">
              <label class="outside-label">Email</label>
              <ion-item fill="outline" class="input-item">
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                Email tidak sah
              </ion-text>
            </div>

            <!-- Password -->
            <div class="form-group">
              <label class="outside-label">Password</label>
              <ion-item fill="outline" class="input-item">
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                Password diperlukan
              </ion-text>
            </div>

            <ion-button expand="full" type="submit" [disabled]="loginForm.invalid || loading">
              <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
              <span *ngIf="!loading">Login</span>
            </ion-button>

          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
